<!-- <h1>Main#register</h1>
<p>Find me in app/views/main/register.html.erb</p> -->
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Register | College Of Engineering Trikaripur</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

</head>
<body>
<div class = "headerWrapper">
  <a href= <%= main_index_url %> ><%=  image_tag('CETkr_logo_and_text.png', align: 'left') -%></a>
  <div>
    <ul id="pushRight">
      <li><a class="shake" href= <%= main_index_path %> >Home</a></li>
      <li><a class="shake" href= <%= main_login_path %> >Login</a></li>
      <li><a class="shake" href= <%= main_register_path %> >Register</a></li>
      <li><a class="shake" href= <%= main_aboutus_path %> >Contact Us</a></li>
    </ul>
  </div>
</div>
<div class = "register-content">
  <h1>Student Registration</h1>
  <%= form_tag('', :method=>"post") do %>

      <div class="col-submit">
        <%= image_tag('reg_100p.png',class:'cmn-t-scale')-%>
      </div>
      <div class="col-2">
        <%= label_tag :Name -%>
            <%= text_field_tag(:name,params[:name],placeholder:'What is your full name?',tabindex:'1') -%>
      </div>
      <div class="col-2">
        <%= label_tag :Semester -%>
            <%= select_tag( :semester,
                        "<option value='12'>I & II</option>
                        <option value='3'>III</option>
                        <option value='4'>IV</option>
                        <option value='5'>V</option>
                        <option value='6'>VI</option>
                        <option value='7'>VII</option>
                        <option value='8'>VII</option>".html_safe,id:'drop-font',tabindex:'2')-%>
      </div>
      <div class="col-3">
        <%= label_tag :University_Register_Number %>
            <%= text_field_tag(:regnum,params[:regnum],placeholder:'Enter University Register number',id:'regnum',tabindex:'3') -%>
      </div>
      <div class="col-3">
        <%= label_tag :email %>
            <%= email_field_tag(:email,params[:email],placeholder:'Enter your e-mail address',id:'email',tabindex:'4') -%>
      </div>
      <div class="col-3">
        <%= label_tag :branch %>
            <%= select_tag( :branch,
                      "<option value='CS'>Computer Science</option>
                        <option value='IT'>Information Technology</option>
                        <option value='CE'>Civil</option>
                        <option value='EE'>Electrical and Electronics</option>
                        <option value='EC'>Electronics and Communication</option>".html_safe,id:'drop-font',tabindex:'5')-%>
      </div>

    <div class="col-2">
      <%= label_tag :password %>
      <%= password_field_tag(:password, params[:password], placeholder: 'Enter your password!',tabindex:'6') -%>

    </div>
    <div class="col-2">
      <%= label_tag :confirm_password %>
      <%= password_field_tag(:confirm_password, params[:confirm_password], placeholder: 'Re-Enter your password!',tabindex:'6') -%>
    </div>
    <div class="col-submit">
      <button class="submitbtn shake">Submit Form</button>
    </div>
  <% end %>
</div>

</body>
</html>
