<!-- <h1>Admin#admin</h1>
<p>Find me in app/views/admin/admin.html.erb</p> -->
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Admin | College Of Engineering Trikaripur</title>
  <link rel="stylesheet" type = text/css href = "assets/main.scss">
  <!-- <link rel="stylesheet" type="text/css" href="CSS/styles.css">
  <link rel="stylesheet" type = text/css href = "CSS/animations.css"> -->
  <link rel="shortcut icon" href="assets/login%20100p.png" type="image/x-icon" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
      $(document).ready(function(){
          <!-- hide all div on load -->
          $(".register-content").hide();
          $(".update-content").hide();
          $(".delete-content").hide();
          $(".result-content").hide();

          <!-- show one of the four div on click -->
          $(".icon-add").click(function(){
              $(".update-content").hide(900);
              $(".delete-content").hide(900);
              $(".result-content").hide(900);
              $(".register-content").slideDown(600);
          });

          $(".icon-update").click(function(){
              $(".register-content").hide(900);
              $(".delete-content").hide(900);
              $(".result-content").hide(900);
              $(".update-content").slideDown(200);
          });

          $(".icon-delete").click(function(){
              $(".register-content").hide(900);
              $(".update-content").hide(900);
              $(".result-content").hide(900);
              $(".delete-content").slideDown();
          });

          $(".icon-result").click(function(){
              $(".register-content").hide(900);
              $(".update-content").hide(900);
              $(".delete-content").hide(900);
              $(".result-content").slideDown();
          });
      });
  </script>
</head>
<body>
<div class = "headerWrapper">
<a href= <%= main_index_url %> ><%=  image_tag('CETkr_logo_and_text.png', align: 'left') %></a>
  <div>
    <ul id="pushRight">
      <li><a class="shake" href= <%= main_index_path %> >Home</a></li>
      <% if session[:user_id].nil? %>
        <li><a class="shake" href= <%= main_login_path %> >Login</a></li>
        <li><a class="shake" href= <%= main_register_path %> >Register</a></li>
        <% else %>
          <li><a href="">Logout</a></li>
        <% end %>
      <li><a class="shake" href= <%= main_aboutus_path %> >Contact Us</a></li>
    </ul>
  </div>
</div>
<div class="page-wrap">
  <ul class="admin-nav">
    <li><a class="icon-add">Add</a></li>
    <li><a class="icon-update">Update</a></li>
    <li><a class="icon-delete">Delete</a></li>
    <li><a class="icon-result">Result</a></li>
  </ul>
</div>


<!-- Add Teacher div -->
<div class = "register-content">
  <%= form_tag(controller: "admin", action: "add_teacher", :method=>"post") do %>
    <div class="col-submit">
    <%= image_tag('reg_100p.png',class:'cmn-t-scale')%>    </div>
    <div class="col-2">
      <%= label_tag :'Name*' %>
            <%= text_field_tag(:name,params[:name],placeholder:'What is your full name?',tabindex:'1') %>
      </div>
    <div class="col-2">
      <%= label_tag :'Department*'%>
        <%= select_tag( :department,
          "<option value='CE'>Dept. of Civil Engineering</option>
          <option value='EC'>Dept. of Electronics and Communication Engineering</option>
          <option value='EE'>Dept. of Electrical and Electronics Engineering</option>
          <option value='CS'>Dept. of Computer Science and Engineering</option>
          <option value='IT'>Dept. of Information Technology</option>
          <option value='AS'>Dept. of Applied Science</option>
          <option value='ME'>Dept. of Mechanical Engineering</option>".html_safe,id:'drop-font',tabindex:'2')%>
    </div>
    <div class="col-3">
      <%= label_tag :'Phone Number' %>
          <%= text_field_tag(:phno,params[:phno],placeholder:'Please enter your Mobile number',tabindex:'4') %>
    </div>
    <div class="col-3">
      <%= label_tag :email %>
          <%= email_field_tag(:email,params[:email],placeholder:'Enter your e-mail address',id:'email',tabindex:'5')%>
    </div>
    <div class="col-4">
      <%= label_tag :'Years of Experience' %>
          <%= text_field_tag(:xp,params[:xp],placeholder:'How many years of experience?',id:'experience',tabindex:'6') %>
    </div>
    <div class="col-3">
      <%= label_tag :'Subjects(code) allotted to the teacher' %>
        <%= text_area_tag(:subcode,params[:subcode],placeholder:'Each subject code separated by "commas" eg. CS402,CS801',id:'subs',tabindex:'3',cols: 39, rows:2) %>
    </div>
    <div class="col-submit">
      <%= label_tag :'Fields marked with * cannot be updated later!' %>
    </div>
    <div class="col-submit">
      <button class="submitbtn shake">Add</button>
    </div>
  <% end %>
</div>

<!-- Update Teacher div -->
<div class = "update-content">
  <%= form_tag(controller: "admin", action: "update_teacher", :method=>"post") do %>
    <div class="col-submit">
    <%= image_tag('reg_100p.png',class:'cmn-t-scale')%>
    </div>
    <div class="col-2">
      <%= label_tag :'Select which Department the teacher belongs to:' %>
        <%= select_tag( :department,
          "<option value='CE'>Dept. of Civil Engineering</option>
          <option value='EC'>Dept. of Electronics and Communication Engineering</option>
          <option value='EE'>Dept. of Electrical and Electronics Engineering</option>
          <option value='CS'>Dept. of Computer Science and Engineering</option>
          <option value='IT'>Dept. of Information Technology</option>
          <option value='AS'>Dept. of Applied Science and Mathematics</option>
          <option value='ME'>Dept. of Mechanical Engineering</option>".html_safe,id:'drop-font',tabindex:'2')%>
    </div>
    <div class="col-2">
      <%= label_tag :Name %>
            <%= text_field_tag(:name,params[:name],placeholder:'Full name of the teacher to updated with',tabindex:'1') %>
    </div>
    <div class="col-3">
      <%= label_tag :'Phone Number' %>
          <%= text_field_tag(:phno,params[:phno],placeholder:'Please enter your Mobile number',tabindex:'4') %>
    </div>
    <div class="col-3">
      <%= label_tag :email %>
          <%= email_field_tag(:email,params[:email],placeholder:'Enter your e-mail address',id:'email',tabindex:'5')%>
    </div>
    <div class="col-4">
      <%= label_tag :'Years of Experience' %>
          <%= text_field_tag(:xp,params[:xp],placeholder:'How many years of experience?',id:'experience',tabindex:'6') %>
    </div>
    <div class="col-3">
      <%= label_tag :'Subjects(code) allotted to the teacher' %>
        <%= text_area_tag(:subcode,params[:subcode],placeholder:'Each subject code separated by "commas" eg. CS402,CS801',id:'subs',tabindex:'3',cols: 39, rows:2) %>
    </div>

    <div class="col-submit">
      <button class="submitbtn shake">Update</button>
    </div>
  <% end %>
</div>
<!-- Delete Teacher -->
<div class = "delete-content">
  <%= form_tag('', :method=>"post") do %>
    <div class="col-submit">
      <%= image_tag('delete_100p.png',class:'cmn-t-scale')%>
    </div>
    <div class="col-2">
      <%= label_tag :Name %>
            <%= text_field_tag(:name,params[:name],placeholder:'Full name of the teacher to be deleted',tabindex:'1') %>
    </div>
    <div class="col-2">
      <%= label_tag :Department %>
        <%= select_tag( :department,
          "<option value='CE'>Dept. of Civil Engineering</option>
          <option value='EC'>Dept. of Electronics and Communication Engineering</option>
          <option value='EE'>Dept. of Electrical and Electronics Engineering</option>
          <option value='CS'>Dept. of Computer Science and Engineering</option>
          <option value='IT'>Dept. of Information Technology</option>
          <option value='AS'>Dept. of Applied Science and Mathematics</option>
          <option value='ME'>Dept. of Mechanical Engineering</option>".html_safe,id:'drop-font',tabindex:'2')%>
    </div>
    <div class="col-3">
      <%= label_tag :email %>
          <%= email_field_tag(:email,params[:email],placeholder:'Enter your e-mail address',id:'email',tabindex:'5')%>
    </div>
    <div class="col-submit">
      <button class="submitbtn shake">Delete</button>
    </div>
  <% end %>
</div>
</body>
</html>
